<template>
  <v-container>
    <v-form
        ref="form"
        v-model="valid"
        @submit.prevent="submit"
    >
      <v-card>
        <v-card-text>

          <v-text-field
              v-model="calcForm.rate"
              type="number"
              label="Est. Labor Tech Salary for 1 order"
              suffix="$"
              :rules="numberRules('Est. Labor Tech Salary for 1 order', false, 0.01, 1000000, true)"
          ></v-text-field>

          <v-text-field
              v-model="calcForm.duration"
              type="number"
              label="Est. Hours per job required"
              append-icon="mdi-clock"
              :rules="numberRules('Est. Hours per job required', false, 0.1, 1000000, true)"
          ></v-text-field>

          <v-text-field
              v-model="calcForm.material"
              type="number"
              label="Est. Material"
              suffix="$"
              :rules="numberRules('Est. Material', false, 0, 1000000, false)"
          ></v-text-field>

          <v-text-field
              v-model="calcForm.materialTax"
              type="number"
              label="Material Tax"
              suffix="%"
              :rules="numberRules('Material Tax', false, 0, 1000000, false)"
          ></v-text-field>

          <v-text-field
              v-model="calcForm.profit"
              type="number"
              label="Profit"
              suffix="%"
              :rules="numberRules('Profit', false, 15, 1000000, false)"
          ></v-text-field>

          <v-text-field
              v-model="calcForm.companyOverhead"
              type="number"
              label="Company Overhead"
              suffix="%"
              :rules="numberRules('Company Overhead', false, 0, 1000000, false)"
          ></v-text-field>

          <v-divider></v-divider>

          <v-simple-table>
            <template v-slot:default>
              <thead>
              <tr>
                <th class="text-left">
                  Summary
                </th>
                <th class="text-left">
                  Total
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><strong>Estimated Job Costs</strong></td>
                <td>{{estimatedJobCosts.toFixed(2)}} $</td>
              </tr>

              <tr>
                <td><strong>Mark UP</strong></td>
                <td>{{markUp.toFixed(2)}} %</td>
              </tr>

              <tr>
                <td><strong>Job Cost</strong></td>
                <td>{{jobCost.toFixed(2)}} %</td>
              </tr>

              <tr>
                <td><strong>Selling Price</strong></td>
                <td>{{sellingPrice.toFixed(2)}} $</td>
              </tr>
              </tbody>
            </template>
          </v-simple-table>

          <v-divider></v-divider>

          <v-card-actions>

            <v-spacer></v-spacer>

            <v-btn
               icon
               link
               to="/"
            >
              <v-icon>mdi-home</v-icon>
            </v-btn>

            <v-btn
                @click="clear"
            >
              Clear
            </v-btn>

            <v-btn
                color="success"
                class="mr-4"
                type="submit"
            >
              Save
            </v-btn>

          </v-card-actions>

        </v-card-text>

      </v-card>
    </v-form>

    <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        color="success"
    >
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn
            text
            v-bind="attrs"
            @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>

  </v-container>
</template>

<script>

import {LoadFormData, ResetForm, Save, SaveFormData} from "@/store/types";
import {calculateEstimatedJobCosts, calculateJobCost, calculateMarkUp, calculateSellingPrice} from "@/pkg/calc";
import {numberRules} from '@/pkg/validator'

export default {
  name: 'Calculator',
  beforeCreate() {
    this.$store.dispatch(LoadFormData)
  },
  computed: {
    invalid() {
      return false
    },
    calcForm() {
      return this.$store.state.calcForm
    },
    estimatedJobCosts() {
      return calculateEstimatedJobCosts(
          this.calcForm.rate,
          this.calcForm.duration,
          this.calcForm.material,
          this.calcForm.materialTax,
      )
    },
    markUp() {
      return calculateMarkUp(this.calcForm.profit, this.calcForm.companyOverhead)
    },
    jobCost() {
      if (this.$refs.form.validate()) {
        return calculateJobCost(this.markUp)
      }
      return 0
    },
    sellingPrice() {
      if (this.$refs.form.validate()) {
        return calculateSellingPrice(this.estimatedJobCosts, this.jobCost)
      }
      return 0
    },
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch(Save)
        this.snackbar = true
        this.saveFormData()
        this.$router.push({ name: 'History' })
      }
    },
    clear() {
      this.$store.dispatch(ResetForm)
    },
    saveFormData() {
      this.$store.dispatch(SaveFormData)
    },
  },
  data() {
    return {
      valid: true,
      timeout: 2000,
      snackbarText: 'Saved',
      snackbar: false,
      numberRules,
    }
  }
}
</script>
