<template>
  <div>
    <v-toolbar dense>

      <v-btn
          link
          color="success"
          to="/calc"
      >
        Add item
      </v-btn>

      <v-spacer></v-spacer>

      <v-menu
          bottom
          left
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              icon
              v-bind="attrs"
              v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>

          <v-list-item @click="upload">
            <v-list-item-title>Import from CSV</v-list-item-title>
          </v-list-item>

          <v-list-item @click="exportToCSV">
            <v-list-item-title>Export to CSV</v-list-item-title>
          </v-list-item>

          <v-list-item @click="openClearHistoryDialog">
            <v-list-item-title>Clear</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

    </v-toolbar>
    <v-card>


      <v-data-table
          dense
          item-key="timestamp"
          :items="items"
          :headers="headers"
      >
        <template v-slot:item.timestamp="{ item }">
          <span>{{formatTimestamp(item.timestamp)}}</span>
        </template>

        <template v-slot:item.actions="{ item }">
          <v-icon
              small
              class="mr-2"
              @click="fillCalc(item)"
          >
            mdi-calculator
          </v-icon>
          <v-icon
              small
              @click="openDeleteItemDialog(item)"
          >
            mdi-delete
          </v-icon>
        </template>

      </v-data-table>
    </v-card>

    <v-dialog
        v-model="dialog.visible"
        persistent
        max-width="250"
    >
      <v-card>
        <v-card-title class="text-h5">
          Confirmation
        </v-card-title>
        <v-card-text>{{dialog.text}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="red darken-1"
              text
              @click="dialog.visible = false; dialog.cb()"
          >
            Yes
          </v-btn>
          <v-btn
              color="green darken-1"
              text
              @click="dialog.visible = false"
          >
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <input type="file" ref="uploader" hidden @change="onFileChanged">

  </div>
</template>

<script>
import {ClearHistory, DeleteItem, ExportToCSV, FillCalculator, ImportFromCSV} from "@/store/types";

export default {
  name: 'History',
  computed: {
    items() {
      return this.$store.state.history
    },
    headers() {
      return [...this.$store.state.headers, {text: 'Actions', value: 'actions', sortable: false }]
    },
  },
  methods: {
    formatTimestamp(timestamp) {
      return new Date(timestamp)?.toLocaleString()
    },
    exportToCSV() {
      this.$store.dispatch(ExportToCSV)
    },
    importFromCSV(data) {
      this.$store.dispatch(ImportFromCSV, {
        data
      })
    },

    onFileChanged(e) {
      const that = this
      const file = e.target.files[0]
      const reader = new FileReader();
      reader.onload = function(e) {
        that.importFromCSV(e.target.result)
      };
      reader.readAsText(file);
    },
    upload() {
      this.isSelecting = true
      window.addEventListener('focus', () => {
        this.isSelecting = false
      }, { once: true })
      this.$refs.uploader.click()
    },

    openClearHistoryDialog() {
      this.dialog.text = 'Are you sure you want to clear history?'
      this.dialog.cb = this.clearHistory
      this.dialog.visible = true
    },

    clearHistory() {
      this.$store.dispatch(ClearHistory)
    },

    openDeleteItemDialog(item) {
      this.dialog.text = `Are you sure you want to delete item '${this.formatTimestamp(item.timestamp)}'?`
      this.dialog.cb = () => this.$store.dispatch(DeleteItem, item)
      this.dialog.visible = true
    },

    fillCalc(item) {
      this.$store.dispatch(FillCalculator, {...item})
      this.$router.push({ name: 'Calculator' })
    }

  },
  data() {
    return {
      dialog: {
        visible: false,
        text: '',
        cb: () => ({}),
      },
    }
  }
}
</script>